#aside-buttons{


    button{
        margin-left: var(--button-margin);
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > a{
            color: currentColor;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;

        }

    }


    button{
        --size: var(--icons-size);
        // @include button(var(--color-bg), var(--black));
        border: 2px solid var(--black);
        background-color: var(--black);
            height: var(--size);
            width: var(--size);
            border-radius: var(--icons-radius);
        margin-bottom: 3px;
        color: var(--color-bg);

        svg{
            width: calc(var(--button-size)*0.55);
            fill: var(--color-bg);
        }

        label{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{ cursor: pointer; }
        }

    
        // &.active{
        //     color: var(--color-bg);
        //     &::before{
        //         background-color: $color;
        //         border-color: $color;
        //     }
        //     cursor: auto; 
        // }
        &:hover{
            cursor: pointer;
            background-color: var(--accent);
            color: var(--black)!important;
            svg{ fill: var(--black); }
    
        }
    }

    button.disable{
        opacity: 0.5;
        cursor: auto!important;
        label{ cursor: auto!important; }
        a{ cursor: auto!important; }
        &:hover{
            background-color: var(--black);
            a{ color: var(--color-bg); }
        }
    }



    #contact-mail{
        border: 2px solid var(--black);
        height: var(--button-size);
        border-radius: calc(var(--button-size)*0.5);
        padding: 2px 2ch;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        background-color: var(--color-bg);
        position: absolute;
        margin-top: calc(var(--button-size)*-1);
        left: -24ch;
        display: none;
    }

    #mail-checkbox:checked ~ #contact-mail{ display: block; }

}