#site-header{

    display: flex;
    justify-content: flex-start;
    align-items: center;



        h1{
            font-family: var(--chicago);
            font-weight: normal;
            font-size: var(--font-size-big);
            margin-right: 0.75ch;           
        }

       
        #header-buttons{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
        }


        .icon-title{
     
            --size: var(--icons-size);
            z-index: 100;

            margin-left: 0.5ch;
            border: 2px solid var(--black);
            background-color: var(--color-bg);
            height: var(--size);
            width: var(--size);
            border-radius: var(--icons-radius);
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            svg{
                width: 75%;
                fill: var(--black);
            }

        
            &:hover{
                background-color: var(--accent);
            }
        }

        #toggle-menu{ display: none; }

}


#toggle-move-checkbox:checked ~ #site-header #toggle-move,
body[data-grid="true"] #site-header #grid-switcher{
    background-color: var(--black);
    svg {
        fill: var(--color-bg);
    }
    &:hover{
        background-color: var(--accent);
        svg {
            fill: var(--black);
        }
    }
}


@media #{$medium}{ 
    #site-header{
        #toggle-menu{
            display: flex;
            position: absolute;
            right: var(--padding);
        }

        h1{
            margin-left: calc(var(--grid-unit) + var(--gap));
        }
    }

}

@media #{$phone}{  

    #site-header{
        h1{
            line-height: calc(var(--baseline)*1.5); 
            margin-left: 0;
          
        }

    }

    #toggle-move{ display: none!important; }
   
} 

