{{ define "main" }}

	


	<section class="list-posts">


		<header class="page-title {{ .Type }}__header draggable">
			<h1>{{ i18n "section.journal" }}</h1>
		</header>


		

		{{ $sortedPosts := sort .Pages "Date" "desc" }}
		<div class="list-posts__container">
			{{ range $sortedPosts }}
			<article class="list-posts__item draggable" data-lang="{{ .Lang }}">
				<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

				<div class="details">
					<p class="lang">{{ .Lang }}</p>
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
						{{ .Date.Format "02-01-2006" }}
					</time>
				</div>

				<a href="{{ .Permalink }}">
				{{ with .Params.imgcover }}
					{{ partial "imgcover.html" . }}
				{{ end }}
				</a>

				<div class="summary">
					{{ .Content | truncate 400 }}
				</div>
				<button><a href="{{ .Permalink }}">{{ i18n "buttons.read_more" }}</a></button>
			</article>
			{{ end }}
		</div>
	</section>



{{ end }}