@charset "UTF-8";

@use "base/variables" as *;
@use "base/generic" as *;
@use "base/layout";
@use "components/grids";

@use "partials/site-header";
@use "partials/site-menu";
@use "partials/aside-buttons";

@use "components/buttons-color";
@use "components/text";
@use "components/back";

@use "pages/home";
@use "pages/list-posts";
@use "pages/posts";
@use "pages/static";
@use "pages/list-team";
@use "pages/team";
