@use "../base/variables" as *;
@use "../base/generic" as *;

.back{
    @include button-text();

    a::before{
        content: "←";
        padding-right: 0.5ch;
    }


    &:hover{
        color: var(--accent);
    }

    margin-top: calc(var(--baseline) - 8px);
    margin-bottom: calc(var(--baseline) + 6px);

    @media #{$phone}{ display: none; } 

}