{{ define "main" }}


<!-- {{/* Create a variable with both sections to use in multiple places. */}} -->
{{ $posts := where .Site.RegularPages "Section" "journal" }}

<!-- {{/* Check to see if the sections are defined for ranging through them */}} -->
{{ $post_count := len $posts }}


 

	<p class="baseline draggable" id="element">{{ i18n "site.baseline" | safeHTML }}</p>
	<p class="details draggable">{{ i18n "site.geneve" | safeHTML }}</p>

  <figure class="draggable">
    <img src="/uploads/cover/image-5.jpg">
  </figure>


	<div id="logos" class="draggable">
    <div id="logo-head" >
			<img src="/uploads/logos/head.svg">
		</div>
		<div id="logo-fns">
			<img src="/uploads/logos/snf.svg">
		</div>

	</div>


	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      // Wait for the Netlify Identity widget to load
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            // Prompt login if the user is not logged in
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>


{{ end }}