

@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeueTrial-MediumItalic.woff2') format('woff2'),
        url('FKGroteskNeueTrial-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeueTrial-Medium.woff2') format('woff2'),
        url('FKGroteskNeueTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeueTrial-BoldItalic.woff2') format('woff2'),
        url('FKGroteskNeueTrial-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeueTrial-Bold.woff2') format('woff2'),
        url('FKGroteskNeueTrial-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

