@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeue-Medium.woff2') format('woff2'),
        url('FKGroteskNeue-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Neue';
    src: url('FKGroteskNeue-MediumItalic.woff2') format('woff2'),
        url('FKGroteskNeue-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

