.page-home{

    .baseline{
        // text-transform: uppercase;
        font-size: var(--font-size-big);
        line-height: calc(var(--baseline)*2);
        max-width: 22ch;
        position: relative;
        top: 6px;
        margin-top: calc(var(--baseline)*3);
        @media #{$phone}{  line-height: calc(var(--baseline)*1.5); } 
        
    }

    figure{
        width: calc(var(--grid-unit)*3 + 3px);
        position: absolute;
        left: calc(var(--grid-unit)*-2 - var(--padding));
        margin-top: calc(var(--baseline)*1.5 - 5px);
        display: flex;
        aspect-ratio: 3/2;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include img-border();
        }
    }


    .details{
        margin-left:  calc(var(--grid-unit) + var(--gap));
        margin-top: calc(var(--baseline)*1);
        max-width: 30ch;

        
    }

    #logos{
        margin-top: calc(var(--baseline)*0.5);
        margin-left:  calc(var(--grid-unit) + var(--gap));
        position: absolute;
        bottom: 30px;
        
        display: flex;

    }

    #logo-fns{
        width: 200px;
        position: relative;
        top: -2px;
        img{
            mix-blend-mode: multiply;
        }
    }
    #logo-head{
        width: calc(var(--grid-unit) + var(--gap));
        @media screen and (max-width: 1270px){
            margin-right: calc(var(--grid-unit)/4);
        }
        img{
            width: 80px;
            mix-blend-mode: multiply;
        }
    }
}




@media #{$medium}{
    .page-home{

        main{
            min-height: 0px!important;
            padding-bottom: 0px;
            display: flex;
            flex-direction: column;
            // background-color: red;
        }

      


        .baseline{
            margin-left: 0;
            order: 1;
            margin-top: 0;
        }
        .details{
            margin-left: 0;
            // max-width: 30ch;
            order: 2;
        }

        figure{
            position: relative;
            left: 0;
            order: 3;
            width: calc(100% - var(--grid-unit) - 3px);
        }

        #logos{ 
            display: none;
            position: relative;
            top: 0px;
            margin-left: 0px;
            // background-color: red;
            order: 4
        }


        #menu{
            position: relative;
            top: 0px;
            display: block;
        
        }
      
    }

  
}
