.list-posts__item{
    margin-bottom: calc(var(--baseline)*3);
    max-width: 52ch;
    .lang{ 
        @include lang();
        // padding-left: var(--indent);
    }

    time{
        // padding-left: var(--indent);
        padding-left: 2ch;
    }

    figure{
        width: calc(100% - var(--indent));
        aspect-ratio: 16/9;
        margin-top: var(--baseline);
        margin-bottom: calc(var(--baseline)*0.5);
        @include img-border();
        // margin-left: var(--indent);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details{
        display: flex;
        margin-top: calc(var(--baseline)*0.25);
        margin-bottom: calc(var(--baseline)*0.25);
        margin-left: var(--indent);
    }

    .summary{
        // display: none;
    }

    button{
      @include button-text();
      margin-top: calc(var(--baseline)*0.5);
      margin-left: var(--indent);
      &:hover{
        color: var(--accent);
      }

        a::before{ 
            content: "+";
            padding-right: 0.5ch;
        }
    }

    h1{
        font-size: var(--font-size);

        font-weight: var(--weight);
        @include link();
        padding-left: var(--indent);

        &::before{
            content: var(--arrow);
            font-size: var(--font-size-arrow);
            position: absolute;
            left: 0;
        }
    }

}



.list-posts{
    input[type="radio"]{ display: none; }
}

#sort-articles{
    display: flex;
    margin-top: calc(var(--baseline)*-2);
    margin-bottom: calc(var(--baseline)*3);

    @media #{$phone}{  
        margin-top: calc(var(--baseline)*-1); 
        margin-bottom: calc(var(--baseline)*2);
    }


    label{
        @include  radio-button();
    }


}

#sort-fr:checked ~ #sort-articles label[for="sort-fr"]::before,
#sort-en:checked ~ #sort-articles label[for="sort-en"]::before,
#sort-all:checked ~ #sort-articles label[for="sort-all"]::before{ 
    background-color: currentColor; 
}


#sort-fr:checked ~ .list-posts__container [data-lang="en"]{ display: none; }
#sort-en:checked ~ .list-posts__container [data-lang="fr"]{ display: none; }