@use "../base/variables" as *;
@use "../base/generic" as *;

.list-posts__item{
    margin-bottom: calc(var(--baseline)*4);
    max-width: 52ch;
    .lang{ 
        @include lang();
    }
  

    figure{
        width: 100%;
        aspect-ratio: 16/9;
    
        margin-bottom: calc(var(--baseline)*1.5);
        @include img-border();
        display: flex;

        // on grid
        position: relative;
        left: 1px;

      

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    .summary{
          strong{
            font-weight: normal;
        }
    }

    button{
      @include button-text();
      margin-top: calc(var(--baseline)*1);
      &:hover{
        color: var(--accent);
      }

        a::before{ 
            content: "+";
            padding-right: 0.5ch;
        }
    }




    h1{
          font-size: var(--font-size-medium);
        line-height: calc(var(--baseline)*1.25);
        font-weight: var(--weight); 
        @include link();
        margin-bottom: calc(var(--baseline)*1.5);
    }

    .details{
        margin-bottom: calc(var(--baseline)*0.5);
    }

     @media screen and (min-width: $desktop){ 
         .details{
            position: absolute;
            left: -23ch;
            width: 18ch;
            padding-top: 5px;
            font-weight: var(--weight); 
            text-align: right;
        
        }
    }

   
}

