@use "../base/variables" as *;
@use "../base/generic" as *;

.list-posts__item{
    margin-bottom: calc(var(--baseline)*3);
    max-width: 52ch;
    .lang{ 
        @include lang();
        // padding-left: var(--indent);
    }

    time{
        // padding-left: var(--indent);
        padding-left: 2ch;
    }

    figure{
        width: 100%;
        aspect-ratio: 16/9;
        margin-top: var(--baseline);
        margin-bottom: calc(var(--baseline)*0.5);
        @include img-border();
        display: flex;

        // on grid
        position: relative;
        left: 1px;

        @media #{$phone}{
            width: 100vw;
            left: calc(var(--padding)*-1);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details{
        display: flex;
        margin-top: calc(var(--baseline)*0.25);
        margin-bottom: calc(var(--baseline)*0.25);
        margin-left: var(--indent);

    
    }

    .summary{
          strong{
            font-weight: normal;
        }
    }

    button{
      @include button-text();
      margin-top: calc(var(--baseline)*1);
      margin-left: var(--indent);
      &:hover{
        color: var(--accent);
      }

        a::before{ 
            content: "+";
            padding-right: 0.5ch;
        }
    }

    h1{
        font-size: var(--font-size);

        font-weight: var(--weight);
        @include link();
        padding-left: var(--indent);

        &::before{
            content: var(--arrow);
            font-size: var(--font-size-arrow);
            position: absolute;
            left: 0;
        }
    }

}

