@use "../base/generic" as *;
@use "../base/variables" as *;

#list-team .list-team__item {
    margin-top: calc(var(--baseline)*3);
    &:first-of-type{
        margin-top: calc(var(--baseline)*2);
    }



    h1{
        padding-right: calc(var(--grid-unit)/2);
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*0.25);

        font-size: var(--font-size-medium);
        line-height: calc(var(--baseline) * 1.25);
        
        font-weight: var(--weight);

     
    }



    .content{
        margin-top: var(--baseline);
    }

    .website{
        margin-top: calc(var(--baseline)*0.5);

        a{
            @include link();
        }
    }

    ul {
        list-style: var(--list);
        margin-left: 1.5ch;
    }

 
      @media screen and (max-width: $phone){
        border-bottom: 1px solid black;
          padding-bottom: calc(var(--baseline)*2);
            margin-bottom: calc(var(--baseline) * 2);
    }

 
}

