.post {
    .page-title h1 {
        margin-bottom: calc(var(--baseline)*1);
        max-width: 24ch;
        // color: red;
    }

    .figure-cover figure{
        width: 100%;
        aspect-ratio: 16/9;
        margin-top: var(--baseline);
        margin-bottom: calc(var(--baseline)*-1);
        // margin-bottom: calc(var(--baseline)*0.5);
        @include img-border();
        // margin-left: var(--indent);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details {
        display: flex;
    }

    .lang {
        @include lang();
        width: calc(var(--grid-unit) + var(--gap));
    }

    .utils {
        margin-top: var(--baseline);
        padding-left: calc(var(--grid-unit) + var(--gap));
        @media #{$phone} {
            padding-left: 0px;
        }

        p {
            margin-left: 2ch;

            &::before {
                content: var(--arrow);
                position: absolute;
                left: calc(var(--grid-unit) + var(--gap));
                @media #{$phone} { left: 0px; }
            }
        }

        a {
            @include link();
            display: block;
        }


       

    }


}


.post__content {
    margin-top: calc(var(--baseline)*3);

}