@use "../base/generic" as *;

.static__content{
}



body[data-name*="bibliography"] {
    .content {
        p {
            margin-bottom: var(--baseline);
        }
        h1, h2{
            @include underline();
        }
    }

   
}


body[data-name*="publications"] {
    .content {
        p {
            margin-top: calc(var(--baseline)*1.5);
            margin-left: 2ch;
            &::before{
                content: var(--arrow);
                position: absolute;
                left: 0ch;
            }
        }

        ul{
            margin-left: var(--indent);
           
        }
    }
}



.page-static{

    #logos{
        margin-top: calc(var(--baseline)*4);
        display: none;
    }

    #logo-fns{
        width: 200px;
        margin-top: calc(var(--baseline)*1);
        img{
            mix-blend-mode: multiply;
        }
    }
    #logo-head{
        width: calc(var(--grid-unit) + var(--gap));
        @media screen and (max-width: 1270px){
            margin-right: calc(var(--grid-unit)/4);
        }
        img{
            width: 80px;
            mix-blend-mode: multiply;
        }
    }
}


.page-static[data-name="about"]{
    #logos{
        margin-top: calc(var(--baseline)*4);
        display: block;
    }
}